$color-black: #222831;
$color-grey: #393e46;
$color-cyan: #00adb5;
$color-white: #eeeeee;

$background-color: $color-black;
$text-color: $color-white;
$accent-color: $color-cyan;
$secondary-color: $color-grey;

// this took me annoyingly long to figure out
// thanks colorhunt.co for the color palette
