// this took me annoyingly long to figure out
// thanks colorhunt.co for the color palette

body {
  background-color: $background-color;
  font-family: sans-serif;
  margin: auto;
  max-width: 70ch;
  color: $text-color;
}

a {
  color: $accent-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $accent-color;
}

code {
  background-color: $secondary-color;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}
